<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Lekton" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Molengo" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Muli:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic' rel='stylesheet' type='text/css'>  <link href="http://fonts.googleapis.com/css?family=Raleway:400" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css">
  <link href="styles/ilynne.less" rel="stylesheet/less" type="text/css">
  <script>
    less = {
      env: "development",
      async: false,
      fileAsync: false,
      poll: 1000,
      functions: {},
      dumpLineNumbers: "comments",
      relativeUrls: false,
      rootpath: ":/a.com/"
    };
  </script>
  <script src="javascripts/less.js/dist/less.js" type="text/javascript"></script>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li class="active"><a href="#"></i>iLynne.com</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="http://github.com/ilynne"><i class="fa fa-github fa-lg"></i> GitHub</a></li>
        <li><a href="http://linkedin.com/in/lynnety"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn</a></li>
      </ul>
    </nav>
  </header>
  <div class="main-container cf">
    <div class="main-content">
      <section class="well">
        <h1>First Heading</h1>
        <p>Paragraph.</p>
        <p>Paragraph.</p>
        <p>Paragraph.</p>
        <p>Paragraph.</p>
        <p><em>Paragraph.</em></p>
        <p>Paragraph.</p>
        <p>Paragraph.</p>
        <ul>
          <li>list</li>
          <ul>
            <li>list</li>
          </ul>
        </ul>
        <table>
          <tr>
            <th><h1>header</h1></th>
            <th>header</th>
          </tr>
          <tr>
            <td>cell</td>
            <td>cell</td>
          </tr>
        </table>
      </section>
    </div>

    <div class="aux-content cf">
      <aside class="well backgroundShade1">
        <h3>First Heading</h3>
        <p>Paragraph.</p>
        <ul>
          <li><a href="#">Link 3</a></li>
        </ul>
      </aside>
    </div>
  </div>
  <footer>
    <p class="centered">&copy;<time datetime="<%= DateTime.now.strftime('%Y') %>"><%= DateTime.now.strftime('%Y') %></time> Lynne Cooney. Last updated <time datetime="<%= DateTime.now.strftime('%F') %>"><%= DateTime.now.strftime('%-d %B %Y') %></time>.</p>
  </footer>
</body>
</html>