/*
@header-font: 'Molengo', Georgia, Times, serif;
@body-font: 'Muli', Verdana, Helvetica, sans-serif;
@body-font: 'Lekton', Helvetica, Arial, sans-serif;
@header-font: 'Corben', Georgia, Times, serif;
@body-font: 'Nobile', Helvetica, Arial, sans-serif;
@header-font: 'Playfair Display', Georgia, serif;
*/
.body-font {
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: .9rem;
  line-height: 1.3rem;
}
.alt-header-font {
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-weight: bold;
}
