@import "colors";
@import "defaults";
@import "clearfix";
@import "nav";


/* resets and overrides
---------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  background: @backgroundColor;
}
img { border: none; }
table {
  background: @backgroundColorHighContrast;
}

/* links & type
---------- */
body, th, td {
  .body-font;
}
th {
  .alt-header-font
}
a:link, a:active, a:visited {
  // leave underlines for accessibility
  color: @baseColor;
}
a:hover {
  color: @shade4;
  text-shadow: @complementary2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @header-font;
  font-weight: normal;
}

ul, ol {
  padding: @box-padding-default;
}

/* layout
---------- */
header {
  background: @shade2;
  color: @complementary2;
  font-family: @body-font;
}
nav {
}
section {
}
footer {
  display: block;
  clear: both;
  padding: 0 @padding-default * .5;
  font-size: smaller;
  //position:absolute;
  //bottom:0;
  //border: 1px solid black;
  //width: 95%;
  //@media @smartphones {
  //  position: relative;
  //}
}
.main-container {
  padding: @padding-default;
  margin: auto;
  // border: 1px solid red;
  max-width: 55rem;
  padding-bottom: 0;
  @media @smartphones {
    padding: 0;
  }
}
.main-content {
  float: left;
  width: 75%;
  padding-right: @padding-default;
  section {
    .default-well;
    margin-top: @margin-default;
    @media @smartphones {
      margin-top: @margin-default-smartphones;
    }
  }
  section:first-child {
    margin-top: 0;
  }
}
.aux-content {
  float: left;
  width: 25%;
}
.main-content, .aux-content {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  margin-bottom: @margin-default;
  //border: 1px solid black;
  @media @smartphones {
    float: none;
    width: 100%;
    min-width: 100%;
    display: block;
    padding: 0;
    margin-bottom: @margin-default-smartphones;
  }
}

/* callout boxes
---------- */
.well {
  .default-well;
}

/* form elements
---------- */

/* misc
---------- */
.backgroundHc {
  background: @backgroundColorHighContrast;
}
.backgroundShade1 {
  background: @shade1;
}
.centered {
  text-align: center;
}

.right-aligned {
  text-align: right;
}
